*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif ;
}
.navbar
{
    background-color: aqua;
    padding: 17px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    font-size: 30px;
    color:aliceblue
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 40px;
}
.navbar ul li a{
    color:aliceblue;
    text-decoration: none;
    font-size: 18px;
    font-weight:bold;
    transition: 0.3s ease;
}
.navbar ul li a:hover{
    color: #1a3340;
    
}
.hero{
    height: 90vh;
    background-image: url("C:/Users/Hemanth Kumar/OneDrive/Pictures/wp9764014.webp");
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction:column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: aliceblue;
}
.hero h1{
    font-size: 53px;
}
.hero p{
    font: size 18px;
    margin:20px 0px;
}
.hero .btn{
    display: flex;
    padding: 12px 20px;
    background-color: aqua;
    color: aliceblue;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s ease;
}
.hero .btn:hover{
    background-color: aliceblue;
    color: #1a3340;
}